{% extends 'base.html.twig' %}

{% block change_article %}

    <article class="content items-list-page">
        <div class="title-search-block">
            <div class="title-block">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title"> {{ project.label }}
                            <a href="{{ url('request_new',{id:project.id}) }}"
                               class="btn btn-primary btn-sm rounded-s">
                                nouvelle demande </a>
                            {% if service_project.isOwner(project) %}
                            <a href="{{ url('project_edit',{id: project.id}) }}" class="btn btn-info btn-sm rounded-s">
                                modifier le projet </a>

                            <a href="{{ url('project_edit',{id: project.id}) }}"
                               class="btn btn-danger confirm btn-sm rounded-s">
                               <i class="fa fa-close"></i> cloturer </a>

                            <a href="{{ url('project_edit',{id: project.id}) }}"
                               class="btn btn-primary btn-sm rounded-s add-participant">
                                <i class="fa fa-user"></i> Ajouter participant </a>
                            {% endif %}
                        </h3>
                        <p class="title-description"> {{ project.description }} </p>
                    </div>
                </div>
            </div>
            <div class="items-search">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
                        <span class="input-group-btn">
                                        <button class="btn btn-secondary rounded-s" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="card items">
            <ul class="item-list striped">
                <li class="item item-list-header">
                    <div class="item-row">
                        <div class="item-col fixed item-col-check">
                            <label class="item-check" id="select-all-items">
                                <input type="checkbox" class="checkbox">
                                <span></span>
                            </label>
                        </div>

                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Demande</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-sales">
                            <div>
                                <span>Nb. échanges</span>
                            </div>
                        </div>

                        <div class="item-col item-col-header item-col-category">
                            <div class="no-overflow">
                                <span>Type</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-author">
                            <div class="no-overflow">
                                <span>Rédacteur</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-date">
                            <div>
                                <span>Date MAJ</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header fixed item-col-actions-dropdown"></div>
                    </div>
                </li>
                {% for request in project.openedRequests %}
                    <li class="item">
                        <div class="item-row">
                            <div class="item-col fixed item-col-check">
                                <label class="item-check" id="select-all-items">
                                    <input type="checkbox" class="checkbox" value="false">
                                    <span></span>
                                </label>
                            </div>
                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">Demande</div>
                                <div>
                                    <a href="{{ url('request_index',{id:request.id}) }}" class="">
                                        <h4 class="item-title"> {{ request.label }} </h4>
                                    </a>
                                    {% autoescape %}
                                    <small>{{ request.description|striptags }}</small>
                                    {% endautoescape %}
                                </div>
                            </div>
                            <div class="item-col item-col-sales">
                                <div class="item-heading">Nb. échanges</div>
                                <div> {{ request.responses|length }}</div>
                            </div>
                            <div class="item-col item-col-stats no-overflow">
                                <div class="item-heading">Type</div>
                                <div class="no-overflow">
                                    <div>
                                        {{ request.typeStr }}
                                    </div>
                                </div>
                            </div>
                            <div class="item-col item-col-author">
                                <div class="item-heading">Demandeur</div>
                                <div class="no-overflow">
                                    <a href="">{{ request.initiator.fullname }}</a>
                                </div>
                            </div>
                            <div class="item-col item-col-date">
                                <div class="item-heading">Date Maj</div>
                                <div class="no-overflow">{{ request.updatedAt.format('d/m/Y H:i') }}</div>
                            </div>
                            <div class="item-col fixed item-col-actions-dropdown">
                                <div class="item-actions-dropdown">
                                    <a class="item-actions-toggle-btn">
                                                <span class="inactive">
                                                    <i class="fa fa-cog"></i>
                                                </span>
                                        <span class="active">
                                                    <i class="fa fa-chevron-circle-right"></i>
                                                </span>
                                    </a>
                                    <div class="item-actions-block">
                                        <ul class="item-actions-list">
                                            <li>
                                                <a class="remove" href="#" data-toggle="modal"
                                                   data-target="#confirm-modal">
                                                    <i class="fa fa-trash-o "></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="edit" href="{{ url('request_edit',{id:request.id}) }}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set response = request.lastResponse %}
                        {% if response is not null %}

                        <div class="item-row">
                            <div class="item-col fixed item-col-check">
                                <a href="{{ url('request_index',{id:request.id}) }}#{{ response.id }}"><i class="fa fa-envelope"></i></a>

                            </div>
                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">Demande</div>
                                <div>
                                    <small><i>{{ response.comment }}</i></small>

                                </div>
                            </div>
                            <div class="item-col item-col-sales">
                                <div class="item-heading">Nb. échanges</div>
                            </div>
                            <div class="item-col item-col-stats no-overflow">
                                <div class="item-heading">Type</div>
                            </div>
                            <div class="item-col item-col-author">
                                <div class="item-heading">Demandeur</div>
                                <div class="no-overflow">
                                    <a href="">{{ response.author.fullname }}</a>
                                </div>
                            </div>
                            <div class="item-col item-col-date">
                                <div class="item-heading">Date Maj</div>
                                <div class="no-overflow">{{ response.updatedAt.format('d/m/Y H:i') }}</div>
                            </div>
                            <div class="item-col fixed item-col-actions-dropdown">
                                <div class="item-actions-dropdown">

                                </div>
                            </div>
                        </div>
                            {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <nav class="text-right">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href=""> Prev </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href=""> 1 </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href=""> 2 </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href=""> 3 </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href=""> 4 </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href=""> 5 </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href=""> Next </a>
                </li>
            </ul>
        </nav>
    </article>
{% endblock %}
{% block javascripts %}
<script>

    var users = {{ users|json_encode|raw }};
    $(function(){

       $(".add-participant").on('click', function(){
            swal({
                title: 'Ajouter un participant',
                input: 'select',
                inputOptions: users,
                inputPlaceholder: 'Choisir un utilisateur',

            }).then((result)=>{
                if(result.value !== undefined && result.value.trim() !== ''){
                    $.ajax({
                        url: "{{ url('project_user',{id:project.id}) }}",
                        data: {
                            user : result.value
                        },
                        success:function(data){
                            if(data.success) {
                                swal({
                                    title: 'Participant ajouté',
                                    type: 'success',
                                    text: 'Le participant à bien été ajouté'
                                });
                            }else{
                                swal({
                                    title: 'Erreur',
                                    type: 'danger',
                                    text: "Impossible d'ajouter le participant"
                                });
                            }
                        }
                    });
                }
            });
            return false;

       }) ;
    });
</script>
{% endblock %}